<app-header title="Nueva Canción">
  <ion-button (click)="clearData()">
    <ion-icon slot="icon-only" name="document"></ion-icon>
  </ion-button>
</app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="space-y-2 px-4 mt-8">
    <app-input
      label="Nombre"
      hintText="Ingrese el nombre"
      [(value)]="songName"
    ></app-input>
    <app-input
      label="Categoría"
      hintText="Ingrese la categoría"
      [(value)]="category"
      [selectorList]="common.categories"
    ></app-input>
  </div>

  <div class="space-y-2 px-4 mt-4">
    @for (item of recordingData; track $index) {
    <ion-textarea
      auto-grow="true"
      rows="1"
      placeholder="Puedes describir la pista aquí"
      [(ngModel)]="item.text"
    ></ion-textarea>
    @if(item.data != ''){
    <audio controls>
      <source src="{{item.data}}" />
      Your browser does not support the audio element.
    </audio>
    } }
  </div>

  <ion-fab color="danger" slot="fixed" vertical="bottom" horizontal="end" class="">
    
    <ion-fab-button (click)="isRecording? stopRecording():startRecording()" color="danger" size="small">
      @if(isRecording){
        <ion-icon name="stop"></ion-icon>
      } @else {
        <ion-icon name="mic-sharp"></ion-icon>
      }
    </ion-fab-button>
    @if(isRecording){
      <div class="absolute -left-12 top-4 text-xl flex">
        <div class="flex-end">{{timer.stopwatchString}}</div>
      </div>
    }
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="saveData()" size="small">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
