<!-- 
<div class="omrs-input-group">
  <label class="omrs-input-filled">
    <input required class="custom" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)">
    <span class="omrs-input-label">{{label}}</span>
    @if(hintText){
      <span class="omrs-input-helper">{{hintText}}</span>
    }
    @if(!(selectorList.length == 1 && selectorList[0] == '')){
      <svg  id="{{trigger}}" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm-88 302a24 24 0 1124-24 24 24 0 01-24 24zm0-71a24 24 0 1124-24 24 24 0 01-24 24zm0-73a24 24 0 1124-24 24 24 0 01-24 24zm184 135H224a16 16 0 010-32h128a16 16 0 010 32zm0-71H224a16 16 0 010-32h128a16 16 0 010 32zm0-72H224a16 16 0 010-32h128a16 16 0 010 32z"/></svg>
    }
    
  </label>
</div>

<ion-alert
[trigger]="trigger"
header="Selecciona la categoría"
[buttons]="alertButtons"
[inputs]="getSelectorMap()"
></ion-alert> -->
<div class="title">{{label}}</div>
<div
  #container
  class="my-1 main-container flex justify-between items-center pl-4 z-10" [ngClass]="{'focused':onFocus, 'opened':opened}"
  [ngClass]="{ opened: opened }"
>
  <input
    class="label align-middle flex items-center bg-transparent flex-1"
    [(ngModel)]="selected"
    (focus)="onFocus = true"
    (blur)="onFocus = false"
    (ngModelChange)="selectedChange.emit($event)"
  />
  @if(values.length > 0){
    <div (click)="openBox()" class="svg-container flex justify-center items-center ion-activatable relative overflow-hidden">
      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_14_18" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="2" width="13"
            height="8">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.3498 2.7258C12.0542 2.42477 11.575 2.42477 11.2794 2.7258L6.76852 7.31955L2.25764 2.7258C1.96205 2.42477 1.4828 2.42477 1.1872 2.7258C0.891608 3.02682 0.891608 3.51488 1.1872 3.8159L6.76852 9.49976L12.3498 3.8159C12.6454 3.51488 12.6454 3.02682 12.3498 2.7258Z"
                fill="#006FFD" />
        </mask>
        <g mask="url(#mask0_14_18)">
            <rect x="0.713196" y="-0.000793457" width="12.1106" height="11.9995"  />
        </g>
      </svg>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  } 
  

  <div class="absolute top-0 background bg-white"></div>

  <div [id]="openerId" class="opener-container absolute top-0 bg-white">
    <div class="label mx-4">{{ selected }}</div>
    <div class="line"></div>
    @for(item of values; track $index){
    <div
      class="px-4 item flex items-center align-middle relative ion-activatable"
      (click)="selectItem(item)"
    >
      {{ item }}
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    }
  </div>
</div>
