.title {
  font-weight: 600;
  opacity: 0.7;
}

.main-container {
  //opacity: 0;
  border-radius: 12px;
  border-color: #2a6df0;
  border-width: 1px;
  border-style: solid;
  background-color: white;

  height: 48px;
  z-index: 100px;
  //filter: drop-shadow(0px 10px 20px #00122608);
  background {
    border-radius: 12px;
    height: 48px;
  }
  .background {
    border-radius: 12px;
    height: 48px;
    width: 100%;
    z-index: -5;
    left: 0px;
  }
  .label {
    height: 48px;
    color: black;
    //opacity: 50%;
  }
  svg g rect {
    fill: #8f9098;
  }
  .svg-container {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  input:focus {
    outline: none;
  }
}

.main-container.focused {
  border-width: 2px;
}

.main-container.opened {
  border-width: 0px;
}

.opened {
  svg g rect {
    fill: #2a6df0;
  }
}

.opener-container {
  border-radius: 12px;
  //height: fit-content;
  height: 40px;
  width: 100%; //calc(100% - 32px);
  left: 0px;
  z-index: -10;
  overflow: hidden;
  transition: height 200ms ease-in-out 0s;
  filter: drop-shadow(0px 10px 20px #00122608);

  .line {
    border-bottom: #2a6cf033;
    border-style: solid;
    border-width: 1px;
  }

  .label {
    visibility: hidden;
    height: 48px;
    //z-index: -9;
    //display: block;
  }
  .item {
    height: 48px;
    color: black;
    opacity: 50%;
    //display: block;
  }
}
