
<div id="tabs-backdrop"></div>
<ion-tabs>
  
  <div id="tabs-container" class="flex justify-between items-center">
    <div class="flex justify-around items-center flex-1">
      @for (tab of tabs.slice(0,2); track $index) {
        <div class="relative ion-activatable tab-container flex flex-col items-center justify-center" [ngClass]="{'selected':tab.selected}" (click)="selectTab(tab)">
          <div class="absolute top-0 tab-bar"></div>
          <app-tab [type]="tab.icon"></app-tab>
          <div class="tab-label">{{tab.label}}</div>
          <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
        </div>
      }
    </div>
    
    <div class="pb-8 ">
      <img id="center-img" src="../../../assets/icons/iconAdd.svg">
    </div>

    <div class="flex justify-around items-center flex-1">
      @for (tab of tabs.slice(2); track $index) {
        <div class="relative ion-activatable tab-container flex flex-col items-center justify-center" [ngClass]="{'selected':tab.selected}" (click)="selectTab(tab)">
          <div class="absolute top-0 tab-bar"></div>
          <app-tab [type]="tab.icon"></app-tab>
          <div class="tab-label">{{tab.label}}</div>
          <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
        </div>
      }
    </div>

    
  </div>
</ion-tabs>
