
<ion-tabs>

  <div id="tab-menu-container" class="w-full absolute flex justify-center">
    <div class="menu bg-white">
      <div class="label px-4 items-center flex ion-activatable relative" (click)="newSong()">Nueva canción
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="line"></div>
      <div class="label px-4 items-center flex ion-activatable relative" (click)="newVideo()">Nuevo video
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>
  
  <div id="tabs-container" class="flex justify-between items-center">
    <div class="flex justify-around items-center flex-1">
      @for (tab of tabs.slice(0,2); track $index) {
        <div class="relative ion-activatable tab-container flex flex-col items-center justify-center" [ngClass]="{'selected':tab.selected}" (click)="selectTab(tab)">
          <div class="absolute top-0 tab-bar"></div>
          <app-tab [type]="tab.icon"></app-tab>
          <div class="tab-label">{{tab.label}}</div>
          <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
        </div>
      }
    </div>
    
    <div class="mb-8 center-img-container" (click)="centerImageAction()">
      <img id="recIcon" src="../../../assets/icons/rec.svg">
      <img id="stopIcon" src="../../../assets/icons/stop.svg">
      <img id="addIcon" src="../../../assets/icons/iconAdd.svg">
    </div>

    <div class="flex justify-around items-center flex-1">
      @for (tab of tabs.slice(2); track $index) {
        <div class="relative ion-activatable tab-container flex flex-col items-center justify-center" [ngClass]="{'selected':tab.selected}" (click)="selectTab(tab)">
          <div class="absolute top-0 tab-bar"></div>
          <app-tab [type]="tab.icon"></app-tab>
          <div class="tab-label">{{tab.label}}</div>
          <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
        </div>
      }
    </div>

    
  </div>
</ion-tabs>
