/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

app-home, app-config, app-new-song {
  ion-content {
    --background: #fcfcfc; // Elige el color que desees
  }
}


.selected {
  app-tab svg.stroke path, app-tab svg.stroke rect {
    stroke: #2A6DF0 !important;
  }

  app-tab svg.fill path, app-tab svg.fill rect {
    fill: #2A6DF0 !important;
  }

  .tab-label {
    color: #2A6DF0 !important;
  }
}

#tabs-backdrop {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: var(--ion-color-dark);
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out 0s;
  width: 100vw;
  height: 80px;
  z-index: 2;
}

.items-backdrop {
  position: absolute;
  bottom: 80px;
  left: 0px;
  background: var(--ion-color-dark);
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out 0s;
  width: 100vw;
  height: calc(100vh - 80px);
  z-index: 2;
}

ion-backdrop {
  opacity: 0;
  transition: opacity 200ms ease-in-out 0s;
  z-index: 2;
}

.over-backdrop {
  position: relative;
  z-index: 3;
}

div#backdrop-counter {
  transition: opacity 200ms ease-in-out 0s;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  font-size: 80px;
  color: white;
}